<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gear UI | Images</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../vendor/prism.css" />
    <link rel="stylesheet" href="../../main.css" />
    <script src="../../vendor/prism.js"></script>
  </head>
  <body class="container">
    <header class="main-header primary b-primary flex-row flex-aic px-5 py-8">
      <div class="logo-container flex-row flex-aic mx-5">
        <div class="logo mx-5"></div>
        <h2 class="logo__name font-bold">
          <a class="no-underline" href="">Gear</a>
        </h2>
      </div>

      <div class="nav-continer margin-auto--l">
        <nav class="main-nav">
          <ul class="main-nav__links flex-row flex-aic list-style-none">
            <li class="main-nav__link px-5 font-medium">
              <a class="no-underline" href="./index.html">Get started </a>
            </li>
            <li class="main-nav__link px-5 font-medium">
              <a class="no-underline" href="../../document.html"> Docs </a>
            </li>
            <li class="main-nav__link px-5 font-medium">
              <a class="no-underline" href="#"> Code </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mobile-nav margin-auto--l p-8">
        <div id="barIcon" class="mobile-icon font-bold fas fa-bars"></div>
        <div id="closeIcon" class="mobile-icon font-bold fas fa-times"></div>
      </div>
    </header>

    <aside class="left-aside box-shadow">
      <div class="m-8">
        <h2 class="font-semibold my-5 text-center">Components</h2>
        <nav class="side-nav">
          <ul
            class="side-nav__items list-style-none flex-column flex-jc flex-aic"
          >
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Avatar/index.html"
                >Avatar</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Alert/index.html"
                >Alert</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Badges/index.html"
                >Badges</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Button/index.html"
                >Button</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Card/index.html"
                >Cards</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Images/index.html"
                >Images</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Input/index.html"
                >Input</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block side-nav__item--active"
                href="./index.html"
                >Text Utility</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </aside>
    <aside class="right-aside box-shadow">
      <ol class="list-style-circle">
        <li class="right-nav__item py-3">
          <a class="no-underline left-nav__item font-medium" href="#heading"
            >Headings</a
          >
        </li>
        <li class="right-nav__item py-3">
          <a class="no-underline left-nav__item font-medium" href="#small-text"
            >Small text</a
          >
        </li>

        <li class="right-nav__item py-3">
          <a class="no-underline left-nav__item font-medium" href="#gray-text"
            >Gray text</a
          >
        </li>
        <li class="right-nav__item py-3">
          <a class="no-underline left-nav__item font-medium" href="#center-text"
            >Center text</a
          >
        </li>
      </ol>
    </aside>
    <main class="content">
      <section class="vgutter-md">
        <h2 class="font-bold">Test Utility</h2>
        <p class="font-normal py-8">
          Documentation and examples for common text utilities to control
          alignment, wrapping, weight, and more
        </p>
      </section>

      <section id="heading" class="vgutter-md">
        <h2 class="font-bold">Headings</h2>
        <p class="font-normal py-8">Heading ranges from h1 to h6</p>
        <div
          class="text-utility__container flex-column flex-aic flex-jc flex-wrap py-5"
        >
          <h1 class="h1">h1 - This is h1 heading</h1>
          <h2 class="h2">h2 - This is h2 heading</h2>
          <h3 class="h3">h3 - This is h3 heading</h3>
          <h4 class="h4">h4 - This is h4 heading</h4>
          <h5 class="h5">h5 - This is h5 heading</h5>
          <h6 class="h6">h6 - This is h6 heading</h6>
        </div>

        <div class="code-highlight">
          <pre><code class="language-html">            &lt;h1 class=&quot;h1&quot;&gt;h1 - This is h1 heading&lt;/h1&gt;
            &lt;h2 class=&quot;h2&quot;&gt;h2 - This is h2 heading&lt;/h2&gt;
            &lt;h3 class=&quot;h3&quot;&gt;h3 - This is h3 heading&lt;/h3&gt;
            &lt;h4 class=&quot;h4&quot;&gt;h4 - This is h4 heading&lt;/h4&gt;
            &lt;h5 class=&quot;h5&quot;&gt;h5 - This is h5 heading&lt;/h5&gt;
            &lt;h6 class=&quot;h6&quot;&gt;h6 - This is h6 heading&lt;/h6&gt;</code></pre>
        </div>
      </section>
      <section id="small-text" class="vgutter-md">
        <h2 class="font-bold">Small text</h2>
        <p class="font-normal py-8">
          For using small text apply text-sm class to the element
        </p>
        <div
          class="text-utility__container flex-column flex-aic flex-jc flex-wrap py-5"
        >
          <div class="text-sm">This is small text</div>
        </div>

        <div class="code-highlight">
          <pre><code class="language-html">            &lt;div class=&quot;text-sm&quot;&gt;This is small text&lt;/div&gt;</code></pre>
        </div>
      </section>
      <section id="gray-text" class="vgutter-md">
        <h2 class="font-bold">Gray text</h2>
        <p class="font-normal py-8">
          For using gray text text-gray class to the element
        </p>
        <div
          class="text-utility__container flex-column flex-aic flex-jc flex-wrap py-5"
        >
          <div class="text-gray">This is gray text</div>
        </div>

        <div class="code-highlight">
          <pre><code class="language-html">            &lt;div class=&quot;text-gray&quot;&gt;This is gray text&lt;/div&gt;</code></pre>
        </div>
      </section>
      <section id="center-text" class="vgutter-md">
        <h2 class="font-bold">Center text</h2>
        <p class="font-normal py-8">
          For center text center-text class to the element
        </p>
        <div class="text-utility__container flex-aic flex-jc flex-wrap py-5">
          <div class="center-text">This is center text</div>
        </div>

        <div class="code-highlight">
          <pre><code class="language-html">             &lt;div class=&quot;center-text&quot;&gt;This is center text&lt;/div&gt;</code></pre>
        </div>
      </section>
    </main>
    <script src="../../scripts/app.js"></script>
  </body>
</html>
