<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gear UI | Modal</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../vendor/prism.css" />
    <link rel="stylesheet" href="../../main.css" />
    <script src="../../vendor/prism.js"></script>
  </head>
  <body class="container">
    <header class="main-header primary b-primary flex-row flex-aic px-5 py-8">
      <div class="logo-container flex-row flex-aic mx-5">
        <div class="logo mx-5"></div>
        <h2 class="logo__name font-bold">
          <a class="no-underline" href="">Gear</a>
        </h2>
      </div>

      <div class="nav-continer margin-auto--l">
        <nav class="main-nav">
          <ul class="main-nav__links flex-row flex-aic list-style-none">
            <li class="main-nav__link px-5 font-medium">
              <a class="no-underline" href="./index.html">Get started </a>
            </li>
            <li class="main-nav__link px-5 font-medium">
              <a class="no-underline" href="../../document.html"> Docs </a>
            </li>
            <li class="main-nav__link px-5 font-medium">
              <a class="no-underline" href="#"> Code </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="mobile-nav margin-auto--l p-8">
        <div id="barIcon" class="mobile-icon font-bold fas fa-bars"></div>
        <div id="closeIcon" class="mobile-icon font-bold fas fa-times"></div>
      </div>
    </header>

    <aside class="left-aside box-shadow">
      <div class="m-8">
        <h2 class="font-semibold my-5 text-center">Components</h2>
        <nav class="side-nav">
          <ul
            class="side-nav__items list-style-none flex-column flex-jc flex-aic"
          >
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Avatar/index.html"
                >Avatar</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Alert/index.html"
                >Alert</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Badge/index.html"
                >Badges</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Button/index.html"
                >Button</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Card/index.html"
                >Cards</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Images/index.html"
                >Images</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Input/index.html"
                >Input</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../Text-utility/index.html"
                >Text Utility</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block"
                href="../list/index.html"
                >List</a
              >
            </li>
            <li class="side-nav__item font-medium my-3">
              <a
                class="side-nav__link no-underline inline-block side-nav__item--active"
                href="./index.html"
                >Modal</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </aside>

    <main class="content">
      <section class="vgutter-md">
        <h2 class="font-bold">Modal</h2>
        <p class="font-normal py-8"></p>
      </section>

      <section id="center-text" class="vgutter-md">
        <h2 class="font-bold">Modal</h2>
        <p class="font-normal py-8">
          Modal is used show important information to users.
        </p>
        <div class="flex-column flex-aic flex-jc flex-wrap py-5">
          <button id="modalShow" class="btn btn__primary">Show Modal</button>
          <div class="backdrop hide">
            <div id="alert-modal" class="dialog dialog__sm">
              <header class="dialog__header">
                <h5>Dialog header</h5>
                <button id="modalClose" class="font-medium dialog__close">
                  <i class="fas fa-times"></i>
                </button>
              </header>
              <section class="dialog__body">
                <p class="dialog__text">Dialog Body text</p>
              </section>
              <footer class="dialog__footer">
                <button id="modalClose" class="btn btn__primary">Ok</button>
                <button id="modalClose" class="btn btn__error">Cancel</button>
              </footer>
            </div>
          </div>
        </div>

        <div class="code-highlight">
          <pre><code class="language-html">          &lt;div class=&quot;backdrop hide&quot;&gt;
            &lt;div id=&quot;alert-modal&quot; class=&quot;dialog dialog__sm&quot;&gt;
              &lt;header class=&quot;dialog__header&quot;&gt;
                &lt;h5&gt;Dialog header&lt;/h5&gt;
                &lt;button id=&quot;modalClose&quot; class=&quot;dialog__close&quot;&gt;
                  &lt;i class=&quot;fas fa-times&quot;&gt;&lt;/i&gt;
                &lt;/button&gt;
              &lt;/header&gt;
              &lt;section class=&quot;dialog__body&quot;&gt;
                &lt;p class=&quot;dialog__text&quot;&gt;Dialog Body text&lt;/p&gt;
              &lt;/section&gt;
              &lt;footer class=&quot;dialog__footer&quot;&gt;
                &lt;button id=&quot;modalClose&quot; class=&quot;btn btn__primary&quot;&gt;Ok&lt;/button&gt;
                &lt;button id=&quot;modalClose&quot; class=&quot;btn btn__error&quot;&gt;Cancel&lt;/button&gt;
              &lt;/footer&gt;
            &lt;/div&gt;</code></pre>
        </div>
      </section>
    </main>
    <script src="../../scripts/app.js"></script>
  </body>
</html>
