.primary {
  background-color: var(--primary);
  color: var(--white);
}
.secondary {
  background-color: var(--secondary);
  color: var(--white);
}
.b-primary {
  border: 1px solid var(--primary);
}

.b-secondary {
  border: 1px solid var(--secondary);
}
.success {
  background-color: var(--success);
}
.error {
  background-color: var(--danger);
}
.info {
  background-color: var(--info);
}
.warning {
  background-color: var(--warning);
}
